<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.warehouse.mapper.StoreMapper">

    <!-- 查询所有仓库 -->
    <select id="selectList" resultType="com.example.warehouse.entity.Store">
        select *
        from store
    </select>
    <!-- 查询每个仓库的商品数量 -->
    <select id="selectStoreCount" resultType="com.example.warehouse.vo.StoreCountVo">
        select t1.store_id, t1.store_name, ifnull(sum(product_invent), 0) totalInvent
        from store t1,
             product t2
        where t1.store_id = t2.store_id
        group by t1.store_id, t1.store_name
    </select>
</mapper>
